/*手机导航*/
/*#nav_mobile{display: none;}*/

/*广告*/
#adv_365Plat{padding:50px 0;background-color:gray;background: -webkit-linear-gradient(gray, black);background: -moz-linear-gradient(gray, black); /* Firefox 3.6 - 15 */background: linear-gradient(gray, black); /* 标准的语法 */;position: relative;}

/*联合承办*/
#undertake{background-color: #373d4b;}
#undertake h3{color: #fff;}
#undertake img{width:90%;margin:0 auto;display: block;}





